<%= form_with model: @account, url: yield(:url), data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', instead: @account %>
  <% type = yield(:type) %>
  <div class="text-field-group">
    <%= f.text_field :icon_id, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :icon_id, 'アイコンID', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :banner_id, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :banner_id, 'バナーID', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :name, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :name, '名前', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :name_id, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :name_id, 'ID', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :description, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :description, '紹介', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :location, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :location, '場所', class: 'text-field-label' %>
  </div>
  <br/>
  <%= f.label :birthday, '誕生日' %>
  <%= f.datetime_field :birthday %>
  <br/>
  <% if type == 'pwedit' || type == 'new' %>
    <div class="text-field-group">
      <%= f.password_field :password, class: 'text-field-field', placeholder: ' ' %>
      <%= f.label :password, 'パスワード', class: 'text-field-label' %>
    </div>
    <br/>
    <div class="text-field-group">
      <%= f.password_field :password_confirmation, class: 'text-field-field', placeholder: ' ' %>
      <%= f.label :password_confirmation, 'パスワード確認', class: 'text-field-label' %>
    </div>
  <% elsif type == 'edit' %>
    <%= link_to 'パスワードを変更', password_edit_account_path %>
  <% end %>
  <br/>
  <%= f.submit yield(:submit_button_text) %>
<% end %>