<% provide(:layout_type, 'default') %>

<% if @account.present? %>
  <% provide(:title, @account.name) %>
  <% provide(:card, 'summary') %>
  <% provide(:image, @account.icon_url) %>

  <div class="account-container" id="account-container">
    <div class="top-container">
      <div class="banner-container" id="banner-container" >
        <%= image_tag @account.banner_url, class: 'account-banner' %>
      </div>
    </div>
    <div class="name-container fixed" id="name-container">
      <div id="name-before"></div>
      <div class="icon-container">
        <%= image_tag @account.icon_url, class: 'account-icon' %>
      </div>
      <div class="meta-container">
        <h1><%= @account.name %></h1>
        <div>@<%= @account.name_id %></div>
        <% if @account == @current_account %>
          <%= link_to('設定', settings_path) %>
        <% elsif @current_account.present? %>
          <% if Follow.exists?(followed: @current_account, follower: @account) %>
            <div>フォローされています</div>
            <%= button_to("フォロワー解除", reject_follow_path(@account.name_id), method: :post) %>
          <% end %>
          <% if Follow.exists?(followed: @account, follower: @current_account) %>
            <%= button_to("フォロー解除", follow_path(@account.name_id), method: :post) %>
          <% else %>
            <%= button_to("フォローする", follow_path(@account.name_id), method: :post) %>
          <% end %>
        <% else %>
          <%= button_to('ログインしてフォロー', login_path, method: :get) %>
        <% end %>
      </div>
    </div>

    <div class="profile-container">
      <div><span>紹介文:</span><%= @account.description %></div>
      <div><span>場所:</span><%= @account.location %></div>
      <div><span>誕生日:</span><%= @account.birth&.strftime("%Y年 %m月 %d日") %></div>
      <div><span>フォロワー:</span><%= @account.followers_counter %></div>
      <div><span>フォロー中:</span><%= @account.following_counter %></div>
      <div><span>投稿数:</span><%= @account.items_counter %></div>
      <div><span>参加日:</span><%= @account.created_at.strftime("%Y年 %m月 %d日") %></div>
    </div>
    <div class="account-tab-container">
      <div>投稿</div>
      <div>返信</div>
      <div>メディア</div>
      <div>リアクション</div>
    </div>
    <div class="content-container">
      <div id="items">
        <%= render partial: 'items/item',
          collection: @items,
          as: :item, show_reply_from: true
        %>
        <%= render 'shared/paging', page: @page, pages: @pages, page_to: "@#{@account.name_id}" %>
      </div>
    </div>
  </div>
<% else %>
  <% provide(:title, '不明なアカウント') %>
  <p>@<%= params[:name_id] %>というアカウントが見つかりませんでした。。。</p>
<% end %>
