<div>
  <h2><%= emoji.name %></h2>
  <span>id:<%# link_to(group.aid, group_path(group.aid)) %></span>
  <div>
    作成者:<%= emoji.account.name %><br />
    name_id:<%= emoji.name_id %><br />
    説明:<%= emoji.description %><br />
    sensitive:<%= emoji.sensitive %><br />
  </div>
</div>