<% provide(:layout_type, 'full_header') %>
<% provide(:title, '検索') %>

<% content_for :header_content do %>
  <%= form_with url: search_path, method: :get do |f| %>
    <%= f.search_field :query, value: params[:query] %>
    <%= f.button "検索", name: nil, type: :submit %>
  <% end %>
<% end %>

<h2>検索</h2>

<div id="items">
  <% if @items.blank? %>
    <p>検索結果がありません。</p>
  <% else %>
    <%= render partial: 'items/item',
      collection: @items,
      as: :item
    %>
    <%= render 'shared/paging', page: @page, pages: @pages, page_to: "search", more_params: "query=#{params[:query]}" %>
  <% end %>
</div>