<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'みつける') %>
<% provide(:header_text, 'みつける') %>

<h2>検索</h2>
<%= form_with url: search_path, method: :get do |f| %>
  <%= f.label :query, "検索" %>
  <%= f.search_field :query, value: params[:query] %>
  <%= f.button "検索", name: nil, type: :submit %>
<% end %>
<h2>トレンド</h2>
  <ul>
    <% @trend.each do |w, c| %>
      <li>
        <%= link_to w, search_path(query: w) %>
        <br />
        <%= c[0] %>投稿↑
        <%= c[1] %>回↑
      </li>
    <% end %>
  </ul>
<h2>おすすめ</h2>
<h2>ワールド</h2>
<h2>ニュース</h2>