<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'リソース') %>
<% provide(:header_text, 'リソース') %>

<div><%= link_to 'リソース', resources_path %></div>
<div><%= link_to '基本情報', about_path %></div>
<div><%= link_to '詳細情報', info_path %></div>
<div><%= link_to 'ヘルプ', help_path %></div>
<div><%= link_to 'サイトマップ', sitemap_path %></div>
<div><%= link_to 'お問い合わせ', contact_path %></div>

<div><%= link_to 'ブログ', blog_path %></div>
<div><%= link_to 'リリースノート', release_notes_path %></div>

<div><%= link_to '利用規約', tos_path %></div>
<div><%= link_to 'プライバシーポリシー', privacy_policy_path %></div>