<div>
  <% sp = server_property %>
  <div>server_name:<%= sp.server_name %></div>
  <br />

  <div>server_version:<%= sp.server_version %></div>
  <br />

  <div>server_description:<%= sp.server_description %></div>
  <br />

  <div>open_registrations:<%= sp.open_registrations %></div>
  <br />

  <br />

  <div>languages:<%= sp.languages %></div>
  <br />

  <div>theme_color:<%= sp.theme_color %></div>
  <br />

  <div>urls:<%= sp.urls %></div>
  <br />

  <div>others:<%= sp.others %></div>
  <br />

  <div>maintainer_name:<%= sp.maintainer_name %></div>
  <br />

  <br />

  <div>maintainer_email:<%= sp.maintainer_email %></div>
  <br />

  <div>accounts:<%= sp.accounts %></div>
  <br />

  <div>items:<%= sp.items %></div>
  <br />

  <div>images:<%= sp.images %></div>
  <br />

  <div>audios:<%= sp.audios %></div>
  <br />

  <div>videos:<%= sp.videos %></div>
  <br />

  <div>emojis:<%= sp.emojis %></div>
  <br />

  <div>reactions:<%= sp.reactions %></div>
  <br />

  <div>meta:<%= sp.meta %></div>
  <br />

  <div>activitypub:<%= sp.activitypub %></div>
  <br />

  <div>ap_meta:<%= sp.ap_meta %></div>
  <br />

  <div>trend_interval:<%= sp.trend_interval %></div>
  <br />

  <div>trend_samplings:<%= sp.trend_samplings %></div>
  <br />

  <div>trend_search_words:<%= sp.trend_search_words %></div>
  <br />

  <div>ga4:<%= sp.ga4 %></div>
  <br />

  <div>ga4_id:<%= sp.ga4_id %></div>
  <br />
</div>