<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - アカウント') %>
<% provide(:header_text, '設定 - アカウント') %>
<% provide(:selected_settings_menu, 'account') %>

<% content_for :settings_content do %>
  <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
    <%= f.label :discoverable %>
    <%= f.check_box :discoverable %>
    <br />

    <%= f.label :auto_accept_follow %>
    <%= f.check_box :auto_accept_follow %>
    <br />

    <%= f.label :email %>
    <%= f.text_field :email %>
    <br />

    <%= f.label :login_id, 'ログインID' %>
    <%= f.text_field :login_id %>
    <br />

    <%= f.label :use_login_id, 'ログインIDを使用' %>
    <%= f.check_box :use_login_id %>
    <br />

    <%= f.label :usage_type %>
    <%= f.select :usage_type, Account.usage_types.keys.map { |i| [i.humanize, i] } %>
    <br />

    <%= f.label :activitypub, 'ActivityPubでフェディバースに参加' %>
    <%= f.check_box :activitypub %>
    <br />

    <div>
      パスワードを変更
      <br />
      <%= f.label :current_password %>
      <%= f.text_field :current_password %>
      <br />
      <%= f.label :new_password %>
      <%= f.text_field :new_password %>
      <br />
      <%= f.label :new_password_confirm %>
      <%= f.text_field :new_password_confirm %>
      <br />
      <%= link_to 'パスワードを忘れた', settings_path %>
    </div>

    データダウンロード
    <br />

    アカウントを休眠状態にする
    <br />

    アカウントを削除する
    <br />

    固有ID:<%= @current_account.aid %>
    <br />
    <%= f.submit '保存' %>
  <% end %>
<% end %>
<%= render 'settings/listed' %>