<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - 表示') %>
<% provide(:header_text, '設定 - 表示') %>
<% provide(:selected_settings_menu, 'display') %>

<% content_for :settings_content do %>
  <div>sensitive</div>
  <div>sensitive</div>
  <div>ミュート</div>
  <div>ブロック</div>
  <div>テーマ</div>
  <div>ダークモード</div>
  <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
    <%= f.label :settings_dark_mode %>
    <%= f.check_box :settings_dark_mode, { checked: @current_account.settings&.dig('default', 'dark_mode') } %>
    <br />
    <%= f.submit '保存' %>
  <% end %>
  <div>テーマ色</div>
  <div>テーマ背景色</div>
  <div>フォント</div>
  <div>フォントサイズ</div>
  <div>壁紙</div>
<% end %>
<%= render 'settings/listed' %>