<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - プロフィール') %>
<% provide(:header_text, '設定 - プロフィール') %>
<% provide(:selected_settings_menu, 'profile') %>

<% content_for :settings_content do %>
  <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
    <div>
      <details>
        <summary>アイコン</summary>
        <%= f.label :icon_data, 'icon_data' %>
        <%= f.file_field :icon_data %>
        <% @images.each do |image| %>
          <div>
            <%= f.radio_button :icon_key, image.aid %>
            名前:<%= image.name %>
            ID:<%= image.aid %>
            説明:<%= image.description %>
            <%= image_tag image_url(id: image.aid), class: 'storage-images-image' %>
          </div>
        <% end %>
      </details>
    </div>
    <div>
      <details>
        <summary>バナー</summary>
        <% @images.each do |image| %>
          <div>
            <%= f.radio_button :banner_key, image.aid %>
            名前:<%= image.name %>
            ID:<%= image.aid %>
            説明:<%= image.description %>
              <%= image_tag image_url(id: image.aid), class: 'storage-images-image' %>
          </div>
        <% end %>
      </details>
    </div>
    <%= f.label :name, '名前', class: '' %>
    <%= f.text_field :name, class: '' %>
    <br />
    <%= f.label :name_id, 'ID', class: '' %>
    <%= f.text_field :name_id, class: '' %>
    <br />
    <%= f.label :location, '場所', class: '' %>
    <%= f.text_field :location, class: '' %>
    <br />
    <%= f.label :birthday, '誕生日' %>
    <%= f.datetime_field :birthday %>
    <br />
    <%= f.label :description, '紹介文' %>
    <%= f.text_area :description %>
    <br />
    <%# f.label :lang, '言語' %>
    <%# f.select :lang, [['日本語', 1], ['English', 2]], { include_blank: false, selected: 0 } %>
    <br />
    <%# f.label :public_visibility, '公開情報' %>
    <%# f.radio_button :public_visibility, '非公開' %>
    <br />
    <%= f.submit '保存' %>
  <% end %>
<% end %>
<%= render 'settings/listed' %>