<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - セキュリティと権限') %>
<% provide(:header_text, '設定 - セキュリティと権限') %>
<% provide(:selected_settings_menu, 'security_and_authority') %>

<% content_for :settings_content do %>
  <div>ログイン履歴</div>
  <div>セッション一覧</div>
    <div>
      <%= form_with(url: change_account_path, data: { turbo: false }) do |f| %>
        <div class="">
          <div class="">
            ログイン中のアカウント:
            <% @logged_in_accounts.each do | account | %>
              <br />
              - なまえ：<%= account.name %>
              <br />
              - ID：<%= account.name_id %>
              <br />
              <%= f.radio_button :aid, account.aid %>
            <% end %>
          </div>
        </div>
        <%= f.submit "変更" %>
      <% end %>
    </div>  
  <%# render 'sessions/session', sessions: @sessions %>
  <div>二段階認証</div>
  <div>連携サービス</div>
<% end %>
<%= render 'settings/listed' %>