<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - セキュリティと権限') %>
<% provide(:header_text, '設定 - セキュリティと権限') %>
<% provide(:selected_settings_menu, 'security_and_authority') %>

<% content_for :settings_content do %>
  <div>ログイン履歴</div>
  <div>
    <%= form_with(url: sessions_destroy_path, data: { turbo: false }) do |f| %>
      セッション一覧:
      <% @current_clients.each do |client| %>
        <br />
        - なまえ：<%= client.name %>
        <br />
        - IPアドレス：<%= client.ip_address %>
        <br />
        - クライアント名：<%= client.user_agent %>
        <br />
        <%= f.radio_button :uuid, client.uuid %>
        <br />
      <% end %>
      <%= f.submit "強制ログアウト" %>
    <% end %>
  </div>
  <div>
    <%= form_with(url: sessions_change_path, data: { turbo: false }) do |f| %>
      ログイン中のアカウント:
      <% @current_accounts.each do |account| %>
        <br />
        - なまえ：<%= account.name %>
        <br />
        - ID：<%= account.name_id %>
        <br />
        <%= f.radio_button :aid, account.aid %>
        <br />
      <% end %>
      <%= f.submit "変更" %>
    <% end %>
  </div>
  <div>二段階認証</div>
  <div>連携サービス</div>
<% end %>
<%= render 'settings/listed' %>