<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, '設定 - ストレージ') %>
<% provide(:title, '設定 - ストレージ') %>
<% provide(:selected_settings_menu, 'storage') %>

<% content_for :settings_content do %>
  <h1>ストレージ</h1>
  <h2>追加する</h2>
  <details>
    <summary>画像を追加</summary>
    <%= render 'images/form' %>
  </details>
  <details>
    <summary>音源を追加</summary>
    <%= render 'audios/form' %>
  </details>
  <details>
    <summary>動画を追加</summary>
    <%= render 'videos/form' %>
  </details>
  <h2>一覧を見る</h2>
  <details>
    <summary>画像一覧</summary>
    <% @images.each do |image| %>
      <div>
        名前:<%= image.name %>
        ID:<%= image.aid %>
        説明:<%= image.description %>
        <%= button_to("削除", image_path(image.aid), method: :delete) %>
        <%= image_tag image.image_url, class: 'storage-images-image' %>
      </div>
    <% end %>
  </details>
  <details>
    <summary>音源一覧</summary>
    <% @audios.each do |audio| %>
      <div>
        名前:<%= audio.name %>
        ID:<%= audio.aid %>
        説明:<%= audio.description %>
        <%= button_to("削除", audio_path(audio.aid), method: :delete) %>
        <%# image_tag image_url(id: image.aid), class: 'storage-images-image' %>
      </div>
    <% end %>
  </details>
  <details>
    <summary>動画一覧</summary>
    <% @videos.each do |video| %>
      <div>
        名前:<%= video.name %>
        ID:<%= video.aid %>
        説明:<%= video.description %>
        <%= button_to("削除", video_path(video.aid), method: :delete) %>
        <%= video_tag(video.video_url, controls: true) %>
      </div>
    <% end %>
  </details>
  <h2>その他</h2>
  <h3>既定値</h3>
  <details>
    <summary>表示の種類</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <%= f.label :image_render_type, '画像' %>
      <%= f.select :image_render_type, Image.render_types.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.label :audio_render_type, '音源' %>
      <%= f.select :audio_render_type, Audio.render_types.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.label :video_srender_type, '動画' %>
      <%= f.select :video_srender_type, Video.render_types.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.submit '保存' %>
    <% end %>
  </details>
  <details>
    <summary>センシティブ</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <%= f.label :image_sensitive, '画像' %>
      <%= f.check_box :image_sensitive %>
      <br />
      <%= f.label :audio_sensitive, '音源' %>
      <%= f.check_box :audio_sensitive %>
      <br />
      <%= f.label :video_sensitive, '動画' %>
      <%= f.check_box :video_sensitive %>
      <br />
      <%= f.submit '保存' %>
    <% end %>
  </details>
  <details>
    <summary>注意書き</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <%= f.label :image_caution_message, '画像' %>
      <%= f.text_field :image_caution_message %>
      <br />
      <%= f.label :audio_caution_message, '音源' %>
      <%= f.text_field :audio_caution_message %>
      <br />
      <%= f.label :video_caution_message, '動画' %>
      <%= f.text_field :video_caution_message %>
      <br />
      <%= f.submit '保存' %>
    <% end %>
  </details>
  <details>
    <summary>公開範囲</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <%= f.label :image_visibility, '画像' %>
      <%= f.select :image_visibility, Image.visibilities.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.label :audio_visibility, '音源' %>
      <%= f.select :audio_visibility, Audio.visibilities.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.label :video_visibility, '動画' %>
      <%= f.select :video_visibility, Video.visibilities.keys.map { |i| [i.humanize, i] } %>
      <br />
      <%= f.submit '保存' %>
    <% end %>
  </details>
  <details>
    <summary>使用制限</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <%= f.label :image_limiting, '画像' %>
      <%= f.check_box :image_limiting %>
      <br />
      <%= f.label :audio_limiting, '音源' %>
      <%= f.check_box :audio_limiting %>
      <br />
      <%= f.label :video_limiting, '動画' %>
      <%= f.check_box :video_limiting %>
      <br />
      <%= f.submit '保存' %>
    <% end %>
  </details>
<% end %>
<%= render 'settings/listed' %>