<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, '設定 - ストレージ') %>
<% provide(:title, '設定 - ストレージ') %>
<% provide(:selected_settings_menu, 'storage') %>

<% content_for :settings_content do %>
  <div>ストレージ</div>
  <details>
    <summary>画像</summary>
    <div>
      <%= form_with model: @image, url: images_path, data: { turbo: false } do |f| %>
        <%= render 'shared/error_messages', instead: @image %>
        <%= f.label :image_data, 'image' %>
        <%= f.file_field :image_data %>
        <br/>
        <div class="text-field-group">
          <%= f.text_field :name, class: 'text-field-field', placeholder: '名前' %>
          <%= f.label :name, '名前', class: 'text-field-label' %>
        </div>
        <br/>
        <div class="text-field-group">
          <%= f.text_field :description, class: 'text-field-field', placeholder: 'description' %>
          <%= f.label :description, 'description', class: 'text-field-label' %>
        </div>
        <br/>
        <%= f.submit '送信' %>
      <% end %>
    </div>
    <% @images.each do |image| %>
      <div>
        名前:<%= image.name %>
        ID:<%= image.aid %>
        説明:<%= image.description %>
        <%= image_tag image_url(aid: image.aid), class: 'storage-images-image' %>
      </div>
    <% end %>
  </details>
  <details>
    <summary>動画</summary>
    <div>
      <%= form_with model: @video, url: videos_path, data: { turbo: false } do |f| %>
      <%= render 'shared/error_messages', instead: @video %>
      <%= f.label :video_data, 'video' %>
      <%= f.file_field :video_data %>
      <br/>
      <div class="text-field-group">
        <%= f.text_field :name, class: 'text-field-field', placeholder: ' ' %>
        <%= f.label :name, '名前', class: 'text-field-label' %>
      </div>
      <br/>
      <div class="text-field-group">
        <%= f.text_field :description, class: 'text-field-field', placeholder: ' ' %>
        <%= f.label :description, 'description', class: 'text-field-label' %>
      </div>
      <br/>
      <%= f.submit '送信' %>
    <% end %>
    </div>
    <% @videos.each do |video| %>
      <%= video.name %>
      <%= video.aid %>
      <%= video_tag(video_url(aid: video.aid), controls: true) %>
      <%= video.description %>
    <% end %>
  </details>
  <details>
    <summary>既定値</summary>
    <%= form_with model: @current_account, url: update_account_path(@current_account.name_id), data: { turbo: false } do |f| %>
      <div>
        <%= f.label :image_sensitive, 'アップロード時、画像をsensitiveに設定する' %>
        <%= f.radio_button :image_sensitive, 'アップロード時、画像をsensitiveに設定する' %>
      </div>
      <div>
        <%= f.label :video_sensitive, 'アップロード時、動画をsensitiveに設定する' %>
        <%= f.radio_button :video_sensitive, 'アップロード時、動画をsensitiveに設定する' %>
      </div>
      <%= f.submit '保存' %>
    <% end %>
  </details>
<% end %>
<%= render 'settings/listed' %>