<%= form_with scope: 'settings', url: administrator_update_custom_config_path, method: :post do |form| %>
  <div>
    <%= form.label :name, 'name' %>
    <%= form.text_field :name, value: @settings.name %>
  </div>
  <div>
    <%= form.label :version, 'version' %>
    <%= form.text_field :version, value: @settings.version %>
  </div>
  <div>
    <%= form.submit 'Update Settings' %>
  </div>
<% end %>
