<% provide(:title, '画像') %>
<% provide(:main_header_text, '画像') %>
<% content_for :main_content do %>
  <%= link_to 'new', storage_images_new_path %>
  <br />
  <% @images.each do |image| %>
    <div>
      名前:<%= image.name %>
      ID:<%= image.image_id %>
      説明:<%= image.description %>
      <% if image.image.attached? %>
        <%= image_tag image_url(aid: image.aid), class: 'storage-images-image' %>
      <% else %>
        <div>のいまげ</div>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= render 'layouts/default' %>