<%= form_with model: @video, url: storage_videos_create_path, data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', instead: @video %>
  <%= f.label :video_data, 'video' %>
  <%= f.file_field :video_data %>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :name, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :name, '名前', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :description, class: 'text-field-field', placeholder: ' ' %>
    <%= f.label :description, 'description', class: 'text-field-label' %>
  </div>
  <br/>
  <%= f.submit '送信' %>
<% end %>