<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, '管理者制御盤') %>
<% provide(:title, '管理者制御盤') %>

<ul>
  <li><%= link_to 'アカウント', admin_accounts_path %></li>
  <li><%= link_to 'セッション', admin_sessions_path %></li>
  <li><%= link_to '招待', admin_invitations_path %></li>
  <li><%= link_to 'アイテム', administrator_root_path %></li>
  <li><%= link_to '画像', administrator_root_path %></li>
  <li><%= link_to '動画', administrator_root_path %></li>
  <li><%= link_to '絵文字', administrator_root_path %></li>
  <li><%= link_to '通知', administrator_root_path %></li>
  <li><%= link_to 'メッセージ', administrator_root_path %></li>
  <li><%= link_to 'グループ', administrator_root_path %></li>
  <li><%= link_to 'タグ', administrator_root_path %></li>
  <li><%= link_to 'トピック', administrator_root_path %></li>
  <li><%= link_to 'リスト', administrator_root_path %></li>
  
  <li><%= link_to 'ロール', administrator_root_path %></li>
  <li><%= link_to 'バッジ', administrator_root_path %></li>

  <li><%= link_to '財布', administrator_root_path %></li>
  <li><%= link_to 'aShop', administrator_root_path %></li>
  <li><%= link_to '商品', administrator_root_path %></li>
  <li><%= link_to 'マップ', administrator_root_path %></li>
  <li><%= link_to 'ワールド', administrator_root_path %></li>
  <li><%= link_to 'アプリケーション', administrator_root_path %></li>
  <li><%= link_to 'サブスクリプション', administrator_root_path %></li>

  <li><%= link_to 'ActivityPub', administrator_root_path %></li>
  <li><%= link_to 'AT Protocol', administrator_root_path %></li>

  <li><%= link_to 'Announcements', administrator_root_path %></li>
  <li><%= link_to 'Advertisement', administrator_root_path %></li>
  <li><%= link_to 'Report', administrator_root_path %></li>
</ul>