<% provide(:title, t('.title')) %>
<% provide(:layout_type, 'full_header') %>
<% provide(:selected_nav, 'home') %>

<% content_for :header_content do %>
  <div class='main-header-home'>
    <%= link_to t('feed.index.title'), root_path %>
  </div>
  <div class='main-header-following'>
    <%= t('feed.following.title') %>
  </div>
  <div class='main-header-current'>
    <%= link_to t('feed.current.title'), current_path %>
  </div>
<% end %>

<%= render 'items/full_tl', timeline: @timeline, page: @page, pages: @pages %>

<%= render 'items/new_button_1' %>