<div id="<%= dom_id item %>">
  <p>
    <strong>Item:</strong>
    <%= item.item_id %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= item.uuid %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= item.item_type %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= item.meta %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= item.content %>
  </p>

  <p>
    <strong>sensitive:</strong>
    <%= item.sensitive %>
  </p>

  <p>
    <strong>sensitive:</strong>
    <%= item.sensitive %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= item.version %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= item.deleted %>
  </p>

</div>
