<nav>
  <div class="nav-logo">
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-logo">
              <%= render 'svgs/amiverse' %>
          </div>
          <div class="nav-list-info"><%= Rails.application.config.x.server_property.server_name %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-ul">
    <% icons_width = '36px' %>
    <% icons_height = '36px' %>
    <% selected_nav = yield(:selected_nav).present? ? yield(:selected_nav) : '' %>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">
            <% if selected_nav == 'home' %>
              <%= render 'svgs/home' %>
            <% else%>
              <%= render 'svgs/home_frame' %>
            <% end %>
          </div>
          <div class="nav-list-info">Home</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to discovery_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/search', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Discovery</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to dashboard_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">
            <% if selected_nav == 'dashboard' %>
              <%= render 'svgs/dashboard' %>
            <% else%>
              <%= render 'svgs/dashboard_frame' %>
            <% end %>
          </div>
          <div class="nav-list-info">Dashboard</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to notifications_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/notifications', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Notification</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to messages_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/message', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Messages</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li item-new-button-2">
      <%= link_to new_item_path do %>
        <div class="nav-list-container inb2-container">
          <div class="nav-list-icon">投稿</div>
          <div class="nav-list-info">Post</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-menu">
    <div class="nav-li">
      <% if @current_account %>
        <%= link_to account_path(@current_account.name_id) do %>
          <div class="nav-list-container">
            <div class="nav-list-icon">
              <% if @current_account.icon %>
                <%= image_tag @current_account.icon.image_url(variant_type: 'icons'), class: 'nav-list-image-icon' %>
              <% else %>
                <img src="/images/icon.webp" class="nav-list-image-icon" />
              <% end %>
            </div>
            <div class="nav-list-info"><%= @current_account.name %>@<%= @current_account.name_id %></div>
          </div>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <div class="nav-list-container">
            <div class="nav-list-icon"><%= render 'svgs/login', width: icons_width, height: icons_height %></div>
            <div class="nav-list-info">LOGIN</div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to settings_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/settings', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Settings</div>
        </div>
      <% end %>
    </div>
  </div>
</nav>