<nav>
  <div class="nav-logo">
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/amiverse', width: '50px', height: '50px' %></div>
          <div class="nav-list-info">APIv0.0.1</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-ul">
    <% icons_width = '36px' %>
    <% icons_height = '36px' %>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/home', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Home</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to discovery_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/search', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Discovery</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to dashboard_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/dashboard', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Dashboard</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to notifications_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/notifications', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Notification</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to messages_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/message', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Messages</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-menu">
    <div class="nav-li">
      <% if @current_account %>
        <%= link_to account_path(@current_account.name_id) do %>
          <div class="nav-list-container">
            <div class="nav-list-icon">
              <% if !@current_account.icon_id.blank? %>
                <%= image_tag image_url(aid: @current_account.icon_id, type: 'icons'), class: 'nav-list-image-icon' %>
              <% else %>
                <%= image_tag 'icon.webp', class: 'nav-list-image-icon' %>
              <% end %>
            </div>
            <div class="nav-list-info"><%= @current_account.name %>@<%= @current_account.name_id %></div>
          </div>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <div class="nav-list-container">
            <div class="nav-list-icon"><%= render 'svgs/login', width: icons_width, height: icons_height %></div>
            <div class="nav-list-info">LOGIN</div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to settings_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/settings', width: icons_width, height: icons_height %></div>
          <div class="nav-list-info">Settings</div>
        </div>
      <% end %>
    </div>
  </div>
</nav>