<nav>
  <div class="nav-logo">
    <div class="nav-li">
      <%= link_to root_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/amiverse' %></div>
          <div class="nav-list-info">APIv0.0.1</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-ul">
    <div class="nav-li">
      <%= link_to root_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/home' %></div>
          <div class="nav-list-info">Home</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to discovery_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/search' %></div>
          <div class="nav-list-info">Discovery</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to dashboard_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/dashboard' %></div>
          <div class="nav-list-info">Dashboard</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to notifications_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/notifications' %></div>
          <div class="nav-list-info">Notification</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to messages_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/message' %></div>
          <div class="nav-list-info">Messages</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-menu">
    <div class="nav-li">
      <% if @current_account %>
        <%= link_to account_path(@current_account.name_id), style: "width: 100%;" do %>
          <div class="nav-list-container">
            <% if !@current_account.icon_id.blank? %>
              <%= image_tag image_url(aid: @current_account.icon_id, type: 'icon'), class: 'nav-list-image-icon' %>
            <% else %>
              <%= image_tag 'icon.webp', class: 'nav-list-image-icon' %>
            <% end %>
            <div class="nav-list-info"><%= @current_account.name %>@<%= @current_account.name_id %></div>
          </div>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <div class="nav-list-container">
            <div class="nav-list-icon"><%= render 'svgs/login' %></div>
            <div class="nav-list-info">LOGIN</div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to settings_path, style: "width: 100%;" do %>
        <div class="nav-list-container">
          <div class="nav-list-icon"><%= render 'svgs/settings' %></div>
          <div class="nav-list-info">Settings</div>
        </div>
      <% end %>
    </div>
  </div>
</nav>