
<div class="tab-container" id="tab">
  <div class="tab-back">
  </div>
  <div class="tab">
    <h2><%= t('.trend') %></h2>
    <ul>
      <% tab_trend.each do |w, c| %>
        <li>
          <%= link_to w, search_path(query: '"'+w+'"') %>
          <br />
        <%= c.min %>件
        </li>
      <% end %>
    </ul>
    <%= link_to 'もっとみる', discovery_path%>
    <br />
    <% if @current_account %>
      <%= link_to 'ストレージ', storage_path %>
    <% else %>
      <%= link_to 'ログインする', login_path %>
    <% end %>
  </div>
  <div>
</div>