<!DOCTYPE html>
<html lang="<%= content_for?(:lang) ? yield(:lang) : I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-language" content="<%= content_for?(:lang) ? yield(:lang) : I18n.locale %>">
    <link rel="icon" href="/favicon.ico">
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.application.config.x.server_property.ga4 %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-<%= Rails.application.config.x.server_property.ga4_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-<%= Rails.application.config.x.server_property.ga4_id %>');
      </script>
    <% end %>
  </head>
  <body>
    <% dark_mode = false %>
    <% dark_mode ||= session[:setting]['dark_mode'] if session[:setting] %>
    <% dark_mode ||= @current_account.settings['default']['dark_mode'] if @current_account && @current_account.settings['default'] %>
    <div class="main-container <%= dark_mode ? 'dark-mode' : 'light-mode' %>" id="main-container">
      <%= render 'layouts/nav' %>
      <main>
        <% layout_type = yield(:layout_type) %>
        <% if layout_type == 'default' %>
          <div class='shared-default-layout-out-container'>
            <div class='shared-default-layout-in-container'>
              <%= yield %>
            </div>
          </div>
        <% elsif layout_type == 'header_text' %>
          <div class='main-header'>
            <div class='main-header-text'>
              <%= yield(:header_text) %>
            </div>
          </div>
          <div class='shared-default-layout-out-container'>
            <div class='shared-default-layout-in-container'>
              <%= yield %>
            </div>
          </div>
        <% elsif layout_type == 'feed' %>
        <% selected_tab = yield(:selected_tab) %>
          <div class='main-header'>
            <div class='main-header-logo'>
            </div>
            <div class='main-header-home'>
              <% if selected_tab == 'home' %>
                <%= t('.home') %>
              <% else %>
                <%= link_to t('.home'), root_path %>
              <% end %>
            </div>
            <div class='main-header-following'>
              <% if selected_tab == 'following' %>
                <%= t('.following') %>
              <% else %>
                <%= link_to t('.following'), following_path %>
              <% end %>
            </div>
            <div class='main-header-current'>
              <% if selected_tab == 'current' %>
                <%= t('.current') %>
              <% else %>
                <%= link_to t('.current'), current_path %>
              <% end %>
            </div>
          </div>
          <div class='shared-default-layout-out-container'>
            <div class='shared-default-layout-in-container'>
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
        <% flash.each do |message_type, message| %>
          <div class="flash <%= message_type %>"><%= message %></div>
        <% end %>
      </main>
      <%= render 'layouts/tab' %>
    </div>
  </body>
</html>
