<% if @current_account.present? %>
  <% item = Item.new %>
  <%= form_with model: item, url: create_item_path do |form| %>
    <%= render "shared/error_messages", instead: item %>
    <% if (defined? initial_replied) %>
      <%= form.hidden_field :replied, value: initial_replied %>
      投稿:<%= initial_replied %>への返信
    <% end %>
    <% if (defined? initial_quoted) %>
      <%= form.hidden_field :quoted, value: initial_quoted %>
      投稿:<%= initial_quoted %>への引用
    <% end %>

    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.label :sensitive, style: "display: block" %>
      <%= form.check_box :sensitive %>
    </div>

    <details>
      <summary>画像を添付</summary>
      <% Image.where(account_id: @current_account.id).each do |image| %>
        <%= form.check_box :selected_images, { multiple: true }, image.aid, nil %>
        <%= form.label image.aid %>
      <% end %>
    </details>
    <details>
      <summary>動画を添付</summary>
      <% Video.where(account_id: @current_account.id).each do |video| %>
        <%= form.check_box :selected_videos, { multiple: true }, video.video_id, nil %>
        <%= form.label video.video_id %>
      <% end %>
    </details>
    <details>
      <summary>設定</summary>
      <div>
        <%= form.label :publish, '公開範囲' %>
        <%= form.select :publish, [['全世界', 1], ['ローカル', 2], ['フォロワー', 3], ['直接', 4], ['限定', 5]], { selected: 1 } %>
        <%= form.label :to_url, style: "display: block" %>
        <%= form.text_field :to_url %>
      </div>
    </details>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% else %>
  <%= button_to('ログインして会話に参加', login_path, method: :get) %>
<% end %>