<div class="item">
  <div class="item-details">
    <%= link_to account_path(item.account.name_id) do %>
      <div class="item-whose">
        <% if !item.account.icon_id.blank? %>
          <%= image_tag image_url(aid: item.account.icon_id, type: 'icon'), class: 'item_account_image' %>
        <% else %>
          <%= image_tag 'icon.webp', class: 'item_account_image' %>
        <% end %>
        <div class="item-account">
          <div class="item-account-profile">
            <div class="item-account-name">
              <%= item.account.name %>
            </div>
            <div class="item-account-name-id">
              @<%= item.account.name_id %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="item-r">
      <div class="item-day">
        <%= item.created_at.strftime("%Y年 %m月 %d日") %>
        <br />
        <%= item.created_at.strftime("%k時 %M分 %S秒") %>
      </div>
      <div class="item-menu">・・・</div>
    </div>
  </div>
  <%= link_to item_path(item.aid), class: 'item-content-link' do %>
    <div class="item-content">
      <%= item.content %>
    </div>
  <% end %>
    <div class="item-media">
      <%# item.images.each do |image| %>
        <%# image_tag image_url(image.account.aid, 'images', image.aid), class: 'item-image' %>
      <%# end %>
      <% if false %>
        <video controls class='video-view' id='video-<%= video.video_id %>'></video>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
        <script>
          var video = document.getElementById('video-<%= video.video_id %>');
          var videoSrc = 'http://localhost:9000/development/variants/accounts/00000000000000/videos/<%= video.video_id %>/output.m3u8';
          if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
          }
        </script>
      <% end %>
    </div>
  <div class="item-reactions">
    <% item.emojis.each do |emoji| %>
      <div class="item-reaction">
        <%= button_to react_path(item.aid, emoji.aid), method: :post do %>
          <% if emoji.custom %>
            <%= image_tag image_url(model: 'emojis', type: 'tb-emojis', aid: emoji.aid), class: '' %>
          <% else %>
            <%= emoji.name %>
          <% end %>
          <span><%= item.reactions.where(emoji_id: emoji.id).count %></span>
        <% end%>
      </div>
    <% end %>
  </div>
  <div class="item-panel">
    <div style="display: inline-block;">返信先<%= item.replying.count %></div>
    <details class="item-details">
      <summary>返信<%= item.repliers.count %></summary>
      <div class="item-details-container">
        <%= render 'items/form', initial_reply_aid: item.aid %>
      </div>
    </details>
    <details>
      <summary>引用<%= item.quoters.count %></summary>
      <div class="item-details-container">
        <%= render 'items/form', initial_quote_aid: item.aid %>
      </div>
    </details>
    <details>
      <summary>リアクション<%= item.reactions.count %></summary>
      <div class="item-details-container">
        <% Emoji.all.each do |emoji| %>
          <%= button_to react_path(item.aid, emoji.aid), method: :post do %>
            <% if emoji.custom %>
              <%= image_tag image_url(model: 'emojis', type: 'tb-emojis', aid: emoji.aid), class: '' %>
            <% else %>
              <%= emoji.name %>
            <% end %>
          <% end%>
        <% end %>
      </div>
    </details>
    <details>
      <summary>共有</summary>
      <div class="item-details-container">
        https://amiverse.net/items/<%= item.aid %>
      </div>
    </details>
    <details>
      <summary>保存</summary>
      <div class="item-details-container">
        ダウンロード・ブックマーク
      </div>
    </details>
  </div>
  <% if defined? show_reply_from %>
    <div class="item-reply">
      <% if !item.repliers.empty? %>
        <div class="item-reply-from">
          📩返信
        </div>
        <% item.repliers.each do |reply| %>
          <%= render 'items/item', item: reply %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>