<% if defined? show_replying %>
    <% if !item.replying.empty? %>
      <% item.replying.each do |reply| %>
        <%= render 'items/item', item: reply, showing: 'showing' %>
      <% end %>
    <% end %>
<% end %>

<div class="item" id="item_<%= item.aid %>">
  <div class="item-left">
    <div class="item-left-top<%= ((defined? show_replying) || (defined? showing)) && item.replying.present? ? ' il-display' : '' %>">
    </div>
    <% middle_flag = (((defined? show_replying) || (defined? showing)) && item.replying.present?) || (((defined? show_repliers) || (defined? showing)) && item.repliers.present?) %>
    <div class="item-left-middle<%= middle_flag ? ' il-display' : '' %>"></div>
    <div class="item-left-bottom<%= ((defined? show_repliers) || (defined? showing)) && item.repliers.present? ? ' il-display' : '' %>">
    </div>
  </div>
  <div class="item-wrap">
    <% if defined? diffuser %>
      <div class="item-diffuser">
        <div class="item-diffuser-text">♻️ 拡散</div>
        <div class="item-diffuser-info">
          <%= link_to account_path(diffuser.name_id), class: 'idi-plate' do %>
            <div class="idi-icon-wrap">
              <div class="idi-status">
              </div>
              <% if diffuser.icon %>
                <%= image_tag diffuser.icon.image_url(variant_type: 'icons'), class: 'idi-icon' %>
              <% else %>
                <img src="/images/icon.webp" class="idi-icon" />
              <% end %>
            </div>
            <div class="idi-nameplate">
              <div class="idi-name">
                <%= diffuser.name %>
              </div>
              <div class="idi-nameplate-under">
                <div class="idi-name_id">
                  @<%= diffuser.name_id %>
                </div>
                <% diffuser.badges.each do |badge| %>
                  <div class='idi-badges'>
                    <% if badge.original_key.present? %>
                      <%= image_tag badge.image_url(variant_type: 'badges'), class: '' %>
                    <% else %>
                      🍭
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="item-account">
      <% if false %>
        <div class="item-account-badges">
          <% item.account.badges.each do |badge| %>
            <%= link_to emojis_path, class: 'iab-badge', style: 'border-color: #5CFF23; background: #5CFF2355;' do %>
              <div class="iab-icon">
                <% if badge.original_key.present? %>
                  <%= image_tag badge.image_url(variant_type: 'badges'), class: '' %>
                <% else %>
                  🍭
                <% end %>
              </div>
              <div class="iab-name">
                <%= badge.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="item-account-info">
        <%= link_to account_path(item.account.name_id), class: 'iai-plate' do %>
          <div class="iai-icon-wrap">
            <div class="iai-status">
            </div>
            <% if item.account.icon %>
              <%= image_tag item.account.icon.image_url(variant_type: 'icons'), class: 'iai-icon' %>
            <% else %>
              <img src="/images/icon.webp" class="iai-icon" />
            <% end %>
          </div>
          <div class="iai-nameplate">
            <div class="iai-name">
              <%= item.account.name %>
            </div>
            <div class="iai-nameplate-under">
              <div class="iai-name_id">
                @<%= item.account.name_id %>
              </div>
              <% item.account.badges.each do |badge| %>
                <div class='iai-badges'>
                  <% if badge.original_key.present? %>
                    <%= image_tag badge.image_url(variant_type: 'badges'), class: '' %>
                  <% else %>
                    🍭
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if defined? full_display %>
          <div class="iai-others">
            <% if @current_account && @current_account.following.map(&:id).include?(item.account.id) %>
              <%= button_to("フォロー中", follow_path(item.account.name_id), class: 'iai-button', method: :post) %>
            <% elsif @current_account %>
              <% if @current_account == item.account %>
                <%= button_to("プロフィール", account_path(@current_account.name_id), class: 'iai-button', method: :get) %>
              <% else %>
                <%= button_to("フォロー", follow_path(item.account.name_id), class: 'iai-button', method: :post) %>
              <% end %>
            <% else %>
              <%= button_to('ログイン', login_path, class: 'iai-button', method: :get) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to item_path(item.aid), class: 'item-details' do %>
      <div class="">
          <%= '💬 返信' if (item.replying.size > 0) %>
          <%= '💭 引用' if (item.quoting.size > 0) %>
      </div>
      <div class="">
        <%= "・#{item.human_attribute_enum(:usage_type)}" if (item.usage_type != 'personal') %>
      </div>
    <% end %>
    <div class="item-content">
      <%= safe_join(item.content.split("\n"),tag(:br)) %>
    </div>
    <div class="item-media" data-controller="image-viewer">
      <% item.images.each do |image| %>
        <%= image_tag image.image_url, class: 'item-image', data: { action: "click->image-viewer#openViewer", image_viewer_target: "previewImage" } %>
      <% end %>
      <div class="fullscreen-image-viewer hidden" data-image-viewer-target="viewer">
        <div class="fiv-background" data-image-viewer-target="background" data-action="click->image-viewer#closeImage"></div>
        <div class="fiv-container" data-image-viewer-target="container"></div>
        <button class="fiv-reset" data-image-viewer-target="reset" data-action="click->image-viewer#resetImage">↺</button>
        <button class="fiv-close" data-image-viewer-target="close" data-action="click->image-viewer#closeImage">×</button>
        <button class="fiv-prev" data-image-viewer-target="prev" data-action="click->image-viewer#prevImage">◀</button>
        <button class="fiv-next" data-image-viewer-target="next" data-action="click->image-viewer#nextImage">▶</button>
      </div>
      <% item.canvases.each do |canvas| %>
        <%= image_tag canvas.image_url, class: 'item-image', style: 'image-rendering: pixelated;' %>
      <% end %>
      <% if false %>
        <video controls class='video-view' id='video-<%= video.video_id %>'></video>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
        <script>
          var video = document.getElementById('video-<%= video.video_id %>');
          var videoSrc = 'http://localhost:9000/development/variants/accounts/00000000000000/videos/<%= video.video_id %>/output.m3u8';
          if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
          }
        </script>
      <% end %>
    </div>
    
    <% if (item.quoting.size > 0) %>
      <div class="item-show-quoting">
        <div class="item-account-info">
          <%= link_to account_path(item.quoting.first.account.name_id), class: 'iai-plate' do %>
            <div class="iai-icon-wrap">
              <div class="iai-status">
              </div>
              <% if item.quoting.first.account.icon %>
                <%= image_tag item.quoting.first.account.icon.image_url(variant_type: 'icons'), class: 'iai-icon' %>
              <% else %>
                <img src="/images/icon.webp" class="iai-icon" />
              <% end %>
            </div>
            <div class="iai-nameplate">
              <div class="iai-name">
                <%= item.quoting.first.account.name %>
              </div>
              <div class="iai-nameplate-under">
                <div class="iai-name_id">
                  @<%= item.quoting.first.account.name_id %>
                </div>
                <% item.quoting.first.account.badges.each do |badge| %>
                  <div class='iai-badges'>
                    <% if badge.original_key.present? %>
                      <%= image_tag badge.image_url(variant_type: 'badges'), class: '' %>
                    <% else %>
                      🍭
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="item-content">
          <%= safe_join(item.quoting.first.content.split("\n"),tag(:br)) %>
        </div>
        <div class="item-media" data-controller="image-viewer">
          <% item.quoting.first.images.each do |image| %>
            <%= image_tag image.image_url, class: 'item-image', data: { action: "click->image-viewer#openViewer", image_viewer_target: "previewImage" } %>
          <% end %>
          <div class="fullscreen-image-viewer hidden" data-image-viewer-target="viewer">
            <div class="fiv-background" data-image-viewer-target="background" data-action="click->image-viewer#closeImage"></div>
            <div class="fiv-container" data-image-viewer-target="container"></div>
            <button class="fiv-reset" data-image-viewer-target="reset" data-action="click->image-viewer#resetImage">↺</button>
            <button class="fiv-close" data-image-viewer-target="close" data-action="click->image-viewer#closeImage">×</button>
            <button class="fiv-prev" data-image-viewer-target="prev" data-action="click->image-viewer#prevImage">◀</button>
            <button class="fiv-next" data-image-viewer-target="next" data-action="click->image-viewer#nextImage">▶</button>
          </div>
          <% item.quoting.first.canvases.each do |canvas| %>
            <%= image_tag canvas.image_url, class: 'item-image', style: 'image-rendering: pixelated;' %>
          <% end %>
        </div>
        <%= link_to item_path(item.quoting.first.aid), class: 'item-details' do %>
          <div class="">
            <%= item.quoting.first.human_attribute_enum(:visibility) %>
          </div>
          <div class="">
            <%= item.quoting.first.viewed_counter %>回, <%= item.quoting.first.created_at.strftime("%Y/%m/%d/ %k:%M") %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to item_path(item.aid), class: 'item-details' do %>
      <div class="">
        <%= item.human_attribute_enum(:visibility) %>
      </div>
      <div class="">
        <%= item.viewed_counter %>回, <%= item.created_at.strftime("%Y/%m/%d/ %k:%M") %>
      </div>
    <% end %>
    <div class="item-reactions">
      <% if item.emojis.blank? %>
      <% else %>
        <% item.emojis.each do |emoji| %>
          <% react_flag = @current_account && Reaction.exists?({
          account_id: @current_account.id,
          emoji_id: emoji.id,
          item_id: item.id
          }) %>
          <%= button_to item_react_path(item.aid), params: {emoji_aid: emoji.aid}, method: :post, class: 'ir-reaction',
          style: "border-color: ##{react_flag ? 'ff4848' : 'DA48FF'}; background: ##{react_flag ? 'ff484855' : 'DA48FF55'};" do %>
            <div class="ir-emoji">
              <%= emoji.name %>
            </div>
            <div class="ir-count">
              <%= item.reactions.where(emoji_id: emoji.id).size %>
            </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="item-panel">
      <div class="ip-button ip-menu popup-menu" data-controller="popup-menu" data-action="click->popup-menu#toggleMenu" data-popup-menu-target="menuButton">
        <div class="ipb-icon">
          <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M30 15C21.7157 15 15 21.7157 15 30C15 38.2843 21.7157 45 30 45C38.2843 45 45 38.2843 45 30C45 21.7157 38.2843 15 30 15ZM70 15C61.7157 15 55 21.7157 55 30C55 38.2843 61.7157 45 70 45C78.2843 45 85 38.2843 85 30C85 21.7157 78.2843 15 70 15ZM55 70C55 61.7157 61.7157 55 70 55C78.2843 55 85 61.7157 85 70C85 78.2843 78.2843 85 70 85C61.7157 85 55 78.2843 55 70ZM30 55C21.7157 55 15 61.7157 15 70C15 78.2843 21.7157 85 30 85C38.2843 85 45 78.2843 45 70C45 61.7157 38.2843 55 30 55Z" fill="currentColor"/>
          </svg>
        </div>
        <div data-popup-menu-target="menu" class="menu" style="display: none;">
          <button class="menu-item">リストに追加</button>
          <button class="menu-item">シェアする</button>
          <button class="menu-item">興味がない</button>
          <button class="menu-item">フォロー/解除</button>
          <button class="menu-item">ミュートする</button>
          <button class="menu-item">ブロックする</button>
          <button class="menu-item">アナリティクス</button>
          <button class="menu-item">埋め込む</button>
          <button class="menu-item">報告する</button>
        </div>
      </div>
      <% if defined? initial_quoted %>
        <%= link_to item_reload_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-quote' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M44 20H11V56H35V71L29 71V80H44V20ZM89.0002 20H56.0002L56.0002 56H80.0002V71L74.0002 71V80H89.0002V20Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.quoters.size %></div>
        <% end %>
      <% else %>
        <%= link_to item_quote_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-quote' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M44 20H11V56H35V71L29 71V80H44V20ZM89.0002 20H56.0002L56.0002 56H80.0002V71L74.0002 71V80H89.0002V20Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.quoters.size %></div>
        <% end %>
      <% end %>
      <%= link_to item_diffuse_path(item.aid), data: { turbo_stream: true }, class: "ip-button ip-diffuse#{item.diffused_accounts.include?(@current_account) ? ' ipd-done' : ''}" do %>
        <div class="ipb-icon">
          <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1816 12.3858C49.2557 11.5673 50.7443 11.5673 51.8184 12.3858L86.2339 38.6139C88.5177 40.3544 87.2868 44 84.4155 44H15.5846C12.7132 44 11.4824 40.3544 13.7661 38.6139L48.1816 12.3858ZM21 68H37V77C37 79.7614 34.7614 82 32 82H26C23.2386 82 21 79.7614 21 77V68ZM63 68H79V77C79 79.7614 76.7614 82 74 82H68C65.2386 82 63 79.7614 63 77V68ZM59 68H41V83C41 85.7614 43.2386 88 46 88H54C56.7614 88 59 85.7614 59 83V68ZM21 48C18.2386 48 16 50.2386 16 53V59C16 61.7614 18.2386 64 21 64H79C81.7614 64 84 61.7614 84 59V53C84 50.2386 81.7614 48 79 48H21Z" fill="currentColor"/>
          </svg>
        </div>
        <div class="ipb-number"><%= item.diffused_accounts.size %></div>
      <% end %>
      <% if defined? initial_replied %>
        <%= link_to item_reload_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-reply' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 19C11 16.2386 13.2386 14 16 14H84C86.7614 14 89 16.2386 89 19V59C89 61.7614 86.7614 64 84 64H80.1939C77.706 64 75.6814 62.1077 74.5909 59.8715C72.3182 55.211 67.5341 52 62 52C56.4659 52 51.6818 55.211 49.4091 59.8715C48.3186 62.1077 46.294 64 43.8061 64H16C13.2386 64 11 61.7614 11 59V19ZM52 66C52 60.4772 56.4772 56 62 56C67.5229 56 72 60.4772 72 66C72 71.5229 67.5229 76 62 76C56.4772 76 52 71.5229 52 66ZM42 80C42 76.6863 44.6863 74 48 74C51.3137 74 54 76.6863 54 80C54 83.3137 51.3137 86 48 86C44.6863 86 42 83.3137 42 80Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.repliers.size %></div>
        <% end %>
      <% else %>
        <%= link_to item_reply_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-reply' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 19C11 16.2386 13.2386 14 16 14H84C86.7614 14 89 16.2386 89 19V59C89 61.7614 86.7614 64 84 64H80.1939C77.706 64 75.6814 62.1077 74.5909 59.8715C72.3182 55.211 67.5341 52 62 52C56.4659 52 51.6818 55.211 49.4091 59.8715C48.3186 62.1077 46.294 64 43.8061 64H16C13.2386 64 11 61.7614 11 59V19ZM52 66C52 60.4772 56.4772 56 62 56C67.5229 56 72 60.4772 72 66C72 71.5229 67.5229 76 62 76C56.4772 76 52 71.5229 52 66ZM42 80C42 76.6863 44.6863 74 48 74C51.3137 74 54 76.6863 54 80C54 83.3137 51.3137 86 48 86C44.6863 86 42 83.3137 42 80Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.repliers.size %></div>
        <% end %>
      <% end %>
      <% if defined? emojis %>
        <%= link_to item_reload_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-react' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M76 11H70V24H57V30H70V43H76V30H89V24H76V11ZM50 27C50 21.5581 51.8899 16.5576 55.0492 12.6192C52.7609 12.2123 50.4052 12 48 12C25.9086 12 8 29.9086 8 52C8 74.0914 25.9086 92 48 92C70.0914 92 88 74.0914 88 52C88 49.5948 87.7877 47.2391 87.3808 44.9508C83.4424 48.1101 78.4419 50 73 50C60.2975 50 50 39.7025 50 27ZM36 34C32.6863 34 30 36.6863 30 40C30 43.3137 32.6863 46 36 46C39.3137 46 42 43.3137 42 40C42 36.6863 39.3137 34 36 34ZM32.8247 59C32.3692 59 32 59.3693 32 59.8247C32 68.2058 38.7942 75 47.1753 75H51.8247C60.2058 75 67 68.2058 67 59.8247C67 59.3693 66.6308 59 66.1753 59H32.8247Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.reactions.size %></div>
        <% end %>
      <% else %>
        <%= link_to item_react_path(item.aid), data: { turbo_stream: true }, class: 'ip-button ip-react' do %>
          <div class="ipb-icon">
            <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M76 11H70V24H57V30H70V43H76V30H89V24H76V11ZM50 27C50 21.5581 51.8899 16.5576 55.0492 12.6192C52.7609 12.2123 50.4052 12 48 12C25.9086 12 8 29.9086 8 52C8 74.0914 25.9086 92 48 92C70.0914 92 88 74.0914 88 52C88 49.5948 87.7877 47.2391 87.3808 44.9508C83.4424 48.1101 78.4419 50 73 50C60.2975 50 50 39.7025 50 27ZM36 34C32.6863 34 30 36.6863 30 40C30 43.3137 32.6863 46 36 46C39.3137 46 42 43.3137 42 40C42 36.6863 39.3137 34 36 34ZM32.8247 59C32.3692 59 32 59.3693 32 59.8247C32 68.2058 38.7942 75 47.1753 75H51.8247C60.2058 75 67 68.2058 67 59.8247C67 59.3693 66.6308 59 66.1753 59H32.8247Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="ipb-number"><%= item.reactions.size %></div>
        <% end %>
      <% end %>
    </div>
    <div class="item-console">
      <% if defined? initial_replied %>
        <%= render 'items/form', initial_replied: initial_replied %>
      <% end %>
      <% if defined? initial_quoted %>
        <%= render 'items/form', initial_quoted: initial_quoted %>
      <% end %>
      <% if defined? emojis %>
        <% emojis.each do |emoji| %>
          <%= button_to item_create_react_path(@item.aid), params: {emoji_aid: emoji.aid}, method: :post do %>
            <% if false %>
              <%= image_tag image_url(model: 'emojis', type: 'tb-emojis', aid: emoji.aid), class: '' %>
            <% else %>
              <%= emoji.name %>
            <% end %>
          <% end%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if defined? show_repliers %>
    <% if !item.repliers.empty? %>
      <% item.repliers.each do |reply| %>
        <%= render 'items/item', item: reply, showing: 'showing' %>
      <% end %>
    <% end %>
<% end %>