<% provide(:title, '投稿する') %>
<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, '投稿する') %>

<% if @current_account.present? %>
  <% if (defined? initial_replied) %>
    <%= render 'items/item', item: @replied %>
    返信する
  <% end %>
  <% if (defined? initial_quoted) %>
    <%= render 'items/item', item: @quoted %>
    引用する
  <% end %>

  <%= form_with model: @item, url: items_path, data: {turbo: false}, multipart: true do |f| %>
    <%= render "shared/error_messages", instead: @item %>
    <% if (defined? initial_replied) %>
    <%= f.hidden_field :replied, value: initial_replied %>
    <% end %>
    <% if (defined? initial_quoted) %>
    <%= f.hidden_field :quoted, value: initial_quoted %>
    <% end %>
    <div>
      <%= f.label :visibility %>
      <%= f.select :visibility, Item.visibilities.keys.map { |i| [i.humanize, i] } %>
      <%= f.label :silent %>
      <%= f.check_box :silent %>
      <%= f.label :draft %>
      <%= f.check_box :draft %>
    </div>

    <div>
      <%= f.label :content, style: "display: block" %>
      <%= f.text_area :content %>
    </div>

    <div>
      <details>
        <summary>メディア</summary>
        <%= label_tag 'media[]' %>
        <%= file_field_tag 'media[]', multiple: true, accept: 'image/*,audio/*,video/*' %>
        <details>
          <summary>画像を添付</summary>
          <%= render 'images/images_multi_selector', f: f, selecteds: 'selected_images', images: @current_account.images.where(deleted: false) %>
        </details>
        <details>
          <summary>動画を添付</summary>
          <% @current_account.videos.each do |video| %>
            <%= f.check_box :selected_videos, { multiple: true }, video.video_id, nil %>
            <%= f.label video.video_id %>
          <% end %>
        </details>
      </details>
      <details>
        <summary>キャンバスを添付</summary>
        <%= render 'canvases/canvases_selector', f: f, canvases: @current_account.canvases.where(deleted: false) %>
      </details>
      <details>
        <summary>センシティブ</summary>
        <%= f.label :sensitive %>
        <%= f.check_box :sensitive %>
        <%= f.label :caution_message %>
        <%= f.text_field :caution_message %>
      </details>
      <details>
        <summary>投票</summary>
      </details>
      <details>
        <summary>予約</summary>
      </details>
      <details>
        <summary>場所</summary>
      </details>
    </div>

    
    <details>
      <summary>設定</summary>
      <div>
        <%= f.label :render_type %>
        <%= f.select :render_type, Item.render_types.keys.map { |i| [i.humanize, i] } %>
        <br />
        <%= f.label :layout_type %>
        <%= f.select :layout_type, Item.layout_types.keys.map { |i| [i.humanize, i] } %>
        <br />
        <%= f.label :usage_type %>
        <%= f.select :usage_type, Item.usage_types.keys.map { |i| [i.humanize, i] } %>
        <br />
        <%= f.label :activitypub %>
        <%= f.check_box :activitypub %>
        <br />
        <%= f.label :language %>
        <%= f.select :language, Item.languages.keys.map { |i| [i.humanize, i] } %>
      </div>
    </details>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <%= button_to('ログインして会話に参加', login_path, method: :get) %>
<% end %>