<% provide(:title, '投稿') %>
<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, '投稿') %>

<% if @item.present? %>
  <% provide(:card, 'summary') %>
  <% if @item.account.icon %>
    <% provide(:image, @item.account.icon.image_url(variant_type: 'icons')) %>
  <% else %>
    <% provide(:image, full_url('/images/icon.webp')) %>
  <% end %>


  <% if defined? emojis %>
    <%= render 'items/item', item: @item, show_repliers: true, show_replying: true, full_display: true %>
    <% emojis.each do |emoji| %>
      <%= button_to item_create_react_path(@item.aid), params: {emoji_aid: emoji.aid}, method: :post do %>
        <% if false %>
          <%= image_tag image_url(model: 'emojis', type: 'tb-emojis', aid: emoji.aid), class: '' %>
        <% else %>
          <%= emoji.name %>
        <% end %>
      <% end%>
    <% end %>
  <% else %>
    <%= render 'items/item', item: @item, show_repliers: true, show_replying: true, full_display: true %>
  <% end %>
<% else %>
  <p>指定されたアイテムは存在しません</p>
<% end %>